    <section *ngIf="surveyPost">
        <div class="jumbotron">
    <h2> {{surveyPost.title}}</h2>
    <h3>{{surveyPost.description}}</h3>
        </div>
    </section>
    <section>
<div class="table table-striped">
      
<form  #personForm="ngForm">
<div *ngFor="let availableResponse of surveyPost.availableResponses" class="form-group">
    <div class="radio">
    <label>
 <input type="radio" name="response" value="{{availableResponse.id}}" [(ngModel)]="selectedResponse"> {{availableResponse.name}}
    </label>
    </div>
</div>

<button (click)="updateResponse(selectedResponse)" class="btn btn-success">Submit</button>
    <button (click)="gotoSurveysList()" class="btn btn-default">Back to Surveys list</button>


</form>
</div>

</section>